 @font-face
  font-family 'SG07'
  font-style normal
  src url('../assets/fonts/sg07.woff2') format('woff2'), url('../assets/fonts/sg07.woff') format('woff')

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  overflow hidden

html
  color: $cor.white
  background-color: $cor.black

body
  font-size 100%
  font-family 'SG07'

canvas
  background-color black
