# App
dist
build
.token

# Dependency directory
node_modules

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Others
cgi-bin
error_log
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project
*.sql
